<div class="jumbotron">
  <center>
    <h1><%= @marcialart.nombre %></h1>
    <img src="<%= @marcialart.image %>" alt="MMA">
  </center>
  <h3>Dominio: <%= @marcialart.dominio %></h3>  
  <h3>Origen: <%= @marcialart.origen %></h3>
  <h3>Aplica: <%= @marcialart.aplica %></h3>
  <h3>Link: <%= @marcialart.link %></h3>
</div>
Add Comment

